################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/secondSemester/v17
/ClassWork/ClassWork/bin/Debug/net8.0
/.vs
